.npcDialog {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 70vh;
  }

  .npcDialog button {
    margin-top: 20px;
    width: 100%;
    padding: 20px;
    font-size: 20px;
  }