.fightContainer {
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 80%;
  height: 80vh;
}

.enemyCombatScreen {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.playerCombatScreen {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}